@use'../other/variables' as v;

.list--description p{
    color: v.$list--description__p-color;
    font-size: v.$list--description__p-size;
    margin: 0;
}
.list--description h6{
    margin: 0;
    font-size: v.$font-size-primary;
}
.form-check-input{
    top: 10%;
}
.a--pencil i{
    color: v.$pencil--svg__color;
    font-size: v.$font-size-primary;
}

.navbar--i{
    font-size: 1rem;
    font-weight: bold;
}
.navbar--h4{
    margin-left: 13px;
    margin-bottom: 0;
}
.disabled{
    opacity: 0.8;
}

